<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# <%= ogp_type %>: http://ogp.me/ns/<%= ogp_type %>#">
<% if(featurephone){ %><link rel="alternate" media="handheld" href=""><% } %>

<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">

<title><%= project_name %> | TVO テレビ大阪</title>
<meta name="robots" content="index,follow">
<meta http-equiv="content-script-type" content="text/javascript">
<meta http-equiv="content-style-type" content="text/css">

<meta name="description" content="">

<meta property="og:type" content="<%= ogp_type %>">
<meta property="og:image" content="">
<meta property="og:site_name" content="<%= project_name %> | TVO テレビ大阪">
<meta property="og:description" content="">
<meta property="og:locale" content="ja_JP">

<meta name="twitter:title" content="<%= project_name %> | TVO テレビ大阪">
<meta name="twitter:image:src" content="">

<% if(twitter_card !== "None"){ %><meta name="twitter:card" content="<%= twitter_card %>">
<meta name="twitter:site" content="@"><% } %>

<link rel="stylesheet" type="text/css" href="">

<% if(js_modules.length > 0){ %><script type="text/javascript" src="//cdn.tv-osaka.co.jp/rs/src/c.js?rs_mod=<%- js_modules.join(",") %>" charset="utf-8"></script><% } %>

<% if(legacy_html5css3 || legacy_media || legacy_mediaqueries){ %><!--[if lt IE 9]><% if(legacy_html5css3){ %>
<script src="./node_modules/html5shiv/dist/html5shiv.min.js"></script><% } %><% if(legacy_media){ %>
<script src="./node_modules/html5media/dist/api/1.1.8/html5media.min.js"></script><% } %><% if(legacy_mediaqueries){ %>
<script src="./node_modules/css3-mediaqueries-js/css3-mediaqueries.js"></script><% } %>
<![endif]--><% } %>
</head>

<body id="top">
<script type="text/javascript" src="//cdn.tv-osaka.co.jp/js/get_header.js" charset="shift_jis"></script>

<div id="page">
  <header>
    
  </header>

  <main>
<% if(js_modules.indexOf("video") !== -1){ %>
    <!-- tvo-video (Equipmedia) start -->
    <div class="tvo-video tvo-video-equipmedia">
      <object style="display:none;">
        <param name="width" value="640" />
        <param name="height" value="360" />
        <param name="@videoPlayer" value="" />
        <param name="linkBaseURL" value="http://www.tv-osaka.co.jp/" />
        <param name="autoStart" value="false" />
      </object>
    </div>
    <!-- tvo-video (Equipmedia) end -->
    <!-- tvo-video (Brightcove) start -->
    <div class="tvo-video">
      <object style="display:none;">
        <param name="bgcolor" value="#000000" />
        <param name="width" value="640" />
        <param name="height" value="360" />
        <param name="isVid" value="true" />
        <param name="isUI" value="true" />
        <param name="@playerID" value="" />
        <param name="linkBaseURL" value="http://www.tv-osaka.co.jp/" />
        <param name="autoStart" value="false" />
        <param name="@videoPlayer" value="" />
      </object>
    </div>
    <!-- tvo-video (Brightcove) end -->
<%  } %>
  </main>
</div>

<script type="text/javascript" src="//cdn.tv-osaka.co.jp/js/get_footer.js" charset="shift_jis"></script>

</body>
</html>