@mixin large {
  @media print, screen and (min-width: $breakpoint_desktop) {
    @content;
  }
}
@mixin desktop {
  @media print, screen and (min-width: $breakpoint_tablet) {
    @content;
  }
}
@mixin desktop_tablet {
  @media print, screen and (min-width: $breakpoint_smartphone_landscape) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: ($breakpoint_tablet - 1)) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: $breakpoint_smartphone_landscape) and (max-width: ($breakpoint_tablet - 1)) {
    @content;
  }
}
@mixin phone {
  @media only screen and (max-width: ($breakpoint_smartphone_landscape - 1)) {
    @content;
  }
}

@mixin print {
  @media only print {
    @content;
  }
}
