@charset "UTF-8";

@mixin font-serif {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
@mixin font-serif-en {
  font-family: 'Times New Roman', serif;
}
@mixin font-sans-serif {
  font-family: Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
}
@mixin font-noto-sans {
  font-family: 'Noto Sans CJK JP', 'Noto Sans JP', sans-serif;
}

@mixin ratio-fix($width:1920px, $height:1080px){
  position: relative;
  &:before {
    content: "";
    display: block;
    padding-top: ($height / $width) * 100%;
  }
  > *{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@mixin wide-ratio-fix{
  @include ratio-fix;
  > .tvo-video.tvo-video-equipmedia{
    .jstream-eqPlayer{
      width: 100% !important;
      height: 100% !important;
    }
  }
}
