@charset "UTF-8";

html{
  font-size: 62.5%;
}

h1,h2,h3,h4,h5,h6,
p,
ul, ol, li{
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,
p{
  font-weight: normal;
}

ul, ol, li{
  list-style-type: none;
}

img{
  border: 0;
  vertical-align: bottom;
  
  @include mobile{
    max-width: 100%;
    height: auto;
  }
}
